<head>
  <title>Дипломы Geocaching.su</title>
</head>

{% load staticfiles %}

<img src="{% static 'diplomas/logo.png' %} ">

<h1>Geocaching.SU "Geoloto" diploma</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


{% if status %}
To get this diploma, you need to have score 60.
<p>User {{username}} has score <strong>{{ score }}</strong> <br>
    Total caches: {{ n_caches}} <br>
Winning loto card(s):<br>


<ul>
{% for item in cards_and_tables %}
     <li><strong>{{ item.0 }}</strong><br> </li>
    {% for number,cache in item.1 %}{{number}}:
        {% for cache_type,cache_number in cache.items %}
        <a href="http://www.geocaching.su/?pn=101&cid={{cache_number}}">{{cache_type}}/{{cache_number}}</a>,
        {% endfor %}<br>
    {% endfor %}
{% endfor %}
</ul>
</p>
{% else %}
Enter your User ID to check Geoloto diploma status
{% endif %}

<form action="{% url 'diplomas:geoloto' %}" method="post">
{% csrf_token %}
    <label for="userq">User ID</label>
    <input type="text" size="40" name="user" id="userq" value="{{user_id}}">
<input type="submit" value="Submit" />
</form>